# Dependencies
node_modules/
.npm/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Hardhat
artifacts/
cache/
typechain/
typechain-types/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
bin/
lib/
include/

# Misc
.DS_Store
*.log
